*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main__nav{
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    display: flex;

}

.nav__container{
    display: flex;
    justify-content: space-between;
    z-index: 1;

}
